.cOptionContainer {
  --chart-option-width: 300px;

  height: var(--chart-option-height);
  transition: all 0.5s ease;
}

.optionBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: var(--chart-option-width);
  height: var(--chart-option-height);
  box-sizing: border-box;

  border-radius: 15px;
  box-shadow: 0 0 0px white;

  margin-right: 10px;
  padding: 15px;

  text-align: right;
  transition: all 0.5s ease;
}

.cOptionBgA {
  position: relative;

  width: var(--chart-option-width);
  height: var(--chart-option-height);
  top: calc(0px - var(--chart-option-height));

  box-sizing: border-box;

  background: linear-gradient(
    45deg,
    var(--chart-option-gr-a) 0%,
    var(--chart-option-gr-b) 100%
  );
  opacity: 1;
  border-radius: 15px;

  transition: all 0.5s ease-in;
}

.cOptionBgB {
  position: relative;

  width: var(--chart-option-width);
  height: var(--chart-option-height);
  top: calc(0px - 2 * var(--chart-option-height));

  box-sizing: border-box;

  background: linear-gradient(
    45deg,
    var(--chart-option-gr-b) 0%,
    var(--chart-option-gr-a) 100%
  );
  opacity: 0;
  border-radius: 15px;

  transition: all 0.5s ease-in;
}

.optionTitle {
  color: white;
  margin: 0;
  font-weight: 700;

  transition: all 0.5s ease;
  z-index: 1;
}

.optionSubtitle {
  color: white;
  opacity: 0.5;
  margin: 0;
  font-weight: lighter;

  transition: all 0.5s ease;
  z-index: 1;
}

.cOptionContainer:hover {
  transform: scale(1.02);
  transition: all 0.5s ease;
  cursor: pointer;
}

.cOptionContainer:hover .optionBody {
  box-shadow: 0 0 15px var(--chart-option-shadow);
  transition: all 0.5s ease;
}

.cOptionContainer:hover .cOptionBgB {
  opacity: 1;
  transition: all 0.5s ease;
}

@media (max-width: 470px) {
  .cOptionContainer {
    --chart-option-width: 200px;
  }
}

@media (max-width: 375px) {
  .optionTitle {
    font-size: 25px;
  }
  .optionSubtitle {
    font-size: 20px;
  }
}

@media (max-width: 280px) {
  .cOptionContainer {
    --chart-option-width: 150px;
  }
  .optionTitle {
    font-size: 20px;
  }
  .optionSubtitle {
    font-size: 15px;
  }
}
