.menuBody {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 80px;

    background-color: #fff;
    transition: all 0.25s ease-in-out;
    z-index: -1;
}

.menuBody:hover {
    width: 200px;
    box-shadow: 0 0 25px 0 #4fb68f54;
    transition: all 0.25s ease-in-out;
}

@media (max-width: 500px) {
    .menuBody:hover {
        width: 80px;
        box-shadow: none;
        transition: none;
    }
}