.contentSpace {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 80px;
  height: 100%;
  width: calc(100% - 80px);

  padding: 10px;

  background-color: white;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.loadingIcon {
  justify-self: center;
  stroke: var(--ui-colors-shadow);
}
