@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;500;700;900&display=swap");

#root {
  --ui-colors-shadow: #4fb68f;
  --ui-colors-highlight: #d6f7ea;
  --ui-colors-title: #3a3a3a;
}

.App {
  text-align: center;
  height: 100%;
}
